<%= form_for :user_trails, html: {class: "ui form", id:"new-trail-form"} do |f| %>
<% if @trail.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@trail.errors.count, "error") %> prohibited this trail from being saved:</h2>

  <ul>
    <% @trail.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <label><%= f.label :title %></label>
  <%= f.text_field :title %>
</div>
<div class="field">
  <label><%= f.label :length %></label>
  <%= f.text_field :length %>
</div>
<div class="two fields">
  <div class="field">
    <label><%= f.label :duration %></label>
    <%= f.text_field :duration %>
  </div>
  <div class="field">
    <label><%= f.label :rating %></label>
    <%= f.number_field :rating, class: "pure-input-rounded" %>
  </div>
</div>
<div class="field">
  <label><%= f.label :difficulty %></label>
  
  <select>
  <option value="">Select Difficulty</option>
  <option value="EZ">Easy</option>
  <option value="MD">Medium</option>
  <option value="HR">Hard</option>
  <option value="RL">Really Hard</option>
  <option value="DB">Dont Bother</option>
  </select>
</div> 

<div class="field">
    <label><%= f.label :review %></label>
    <%= f.text_area :review, size:'10x10' %>
</div>



<%= f.hidden_field :trailhead_lat, value: @trail.trailhead_lat %>
<%= f.hidden_field :trailhead_lon, value: @trail.trailhead_lon %>
<%= f.hidden_field :trailend_lat, value: @trail.trailend_lat %>
<%= f.hidden_field :trailend_lon, value: @trail.trailend_lon %>
<%= f.hidden_field :waypoints, value: @trail.waypoints %>
<%= f.hidden_field :user_id, value: current_user.id %>

<div class="field">
  <%= f.submit 'Add Trail', class: "ui primary button" %>
</div>

<% end %>