<% @trails.each do |trail| %>

  <div class="item" id="trail<%= trail.id %>" href="/users/<%= current_user.id %>/trails/<%= trail.id %>">
    <div class="content">
      <div class="inverted header">
        <%= trail.title %>
      </div>
      <div class="description">
        <%= reverse_geocode(trail.trailhead_lat, trail.trailhead_lon) %>
      </div>
    </div>
  </div>
<% end %>