<% @trails.each do |trail| %>

<li class="cssmenu"><a id="trail<%= trail.id %>" href="/users/<%= current_user.id %>/trails/<%= trail.id %>">
  <b><%= trail.title %></b> <br>
  <%= trail.city %>, <%= trail.state %>
</a></li>
<% end %>