<% @trails.each do |trail| %>

<li id="trail<%= trail.id %>" class="cssmenu trailtitle"><a href="/users/<%= current_user.id %>/trails/<%= trail.id %>"><span>
  <b><%= trail.title %></b> <br>
  <%= reverse_geocode(trail.trailhead_lat, trail.trailhead_lon) %>
</span></a></li>
<% end %>