<% @trails.each do |trail| %>

  <a class="item user-hike" id="trail<%= trail.id %>" href="/users/<%= current_user.id %>/trails/<%= trail.id %>">

    <div class="content">
      <div class="ui header">
        <%= trail.title %>
      </div>
      <div class="description">
        <%=trail.city%>, <%= trail.state %>
      </div>
    </div>

  </a>

<% end %>