<div class="pure-u-5-24 navbar debug">

  <li class="cssmenu"><span> <a href="/users/<%= current_user.id %>"> 
    back to menu
  </a></span></li>
  <li class="cssmenu">
    <h2> <%= @trail.title %> </h2>
  </li>

  <li class="cssmenu"><span>
    <strong>Length:</strong>
    <%= @trail.length %>
    </span></li>

  <li class="cssmenu"><span>
    <strong>Duration:</strong>
    <%= @trail.duration %>
  </span></li>

  <li class="cssmenu"><span>
    <strong>Difficulty:</strong>
    <%= @trail.difficulty %>
  </span></li>

  <li class="cssmenu"><span>
    <strong>Review:</strong>
    <%= @trail.review %>
  </span></li>

  <li class="cssmenu"><span>
    <strong>Rating:</strong>
    <%= @trail.rating %>
  </span></li>
  
</div>
  

<div class="pure-u-19-24 debug">
  <div class="map" id="user-map"></div>
</div>

