<li id="show-page-back" class="cssmenu back-button"><span> <a href="/users/<%= current_user.id %>">
  back to menu
</a></span></li>
<li class="cssmenu">
  <h2> <%= @trail.title %> </h2>
</li>

<div id="nav-content">

  <li class="cssmenu">
    <strong>Length:</strong>
    <%= @trail.length %>
  </li>

  <li class="cssmenu">
    <strong>Duration:</strong>
    <%= @trail.duration %>
  </li>

  <li class="cssmenu">
    <strong>Difficulty:</strong>
    <%= @trail.difficulty %>
  </li>

  <li class="cssmenu">
    <strong>Review:</strong>
    <%= @trail.review %>
  </li>

  <li class="cssmenu">
    <strong>Rating:</strong>
    <%= @trail.rating %>
  </li>

  <li class="trail-id noshow">
    <%= @trail.id %>
  </li>
</div>
