<div class="my-hike-page">
    <div class="ui fluid relaxed grid container" id="nav-content" >
      <div class="ui left aliged row" id="show-page-back" >
        <a href="/users/<%= current_user.id %>">
          <%= image_tag "back.png", width: '30', height: '30', class: "back-button" %>
        </a>
      </div>
      <div class="ui centered row"> 
        <h1 class="ui inverted massive header trail-header">
          <%= @trail.title %>
          <div class="sub header">
          <%= @trail.city %>, <%= @trail.state %>
          </div>
        </h1>
      </div>
      <div class="ui fluid row">
        <div class="ui fluid container">

        <div class="ui small statistics">
          <div class="statistic">
            <div class="value">
              <%= @trail.length %>
            </div>
            <div class="label">
              Length
            </div>
          </div>
          <div class="statistic">
            <div class="value">
              <%= @trail.duration %>
            </div>
            <div class="label">
              Duration
            </div>
          </div>
          
        </div>
        <br>
        <div class="ui small statistics">
          <div class="statistic">
            <div class="value">
              <%= @trail.rating %>
            </div>
            <div class="label">
              Rating
            </div>
          </div>
          <div class="statistic">
            <div class="value">
              <%= @trail.difficulty %>
            </div>
            <div class="label">
              Difficulty
            </div>
          </div>
        </div>
        <div class="ui container">
          <h4 class="ui medium header">Review</h4>
  
          <%= @trail.review %>

        </div>
        <span style="font-color:#61616;" class="trail-id hidden">
          <%= @trail.id %>
        </span>
      </div>
    </div>
  </div>
</div>


