<div class="my-hike-page">
  <li id="show-page-back" class="cssmenu back-button"><span> <a href="/users/<%= current_user.id %>">
    back to menu
  </a></span></li>
  <li class="cssmenu">
    <h2> <%= @trail.title %> </h2>
  </li>
</div>

<div id="nav-content">

  <li class="cssmenu">
    <strong>Length:</strong>
    <%= @trail.length %>
  </li>

  <li class="cssmenu">
    <strong>Duration:</strong>
    <%= @trail.duration %>
  </li>

  <li class="cssmenu">
    <strong>Difficulty:</strong>
    <%= @trail.difficulty %>
  </li>

  <li class="cssmenu">
    <strong>Review:</strong>
    <%= @trail.review %>
  </li>

  <li class="cssmenu">
    <strong>Rating:</strong>
    <%= @trail.rating %>
  </li>

  <li class="trail-id hidden" style="display: none">
    <%= @trail.id %>
  </li>


  <div class="ui inverted segment">
  <div class="ui inverted statistic">
    <div class="value">
      54
    </div>
    <div class="label">
      Inverted
    </div>
  </div>
  <div class="ui red inverted statistic">
    <div class="value">
      27
    </div>
    <div class="label">
      Red
    </div>
  </div>
  <div class="ui orange inverted statistic">
    <div class="value">
      8
    </div>
    <div class="label">
      Orange
    </div>
  </div>
  <div class="ui yellow inverted statistic">
    <div class="value">
      28
    </div>
    <div class="label">
      Yellow
    </div>
</div>
