<% if @user.id == current_user.id %>
	<li class="cssmenu">
		<h2> My hikes </h2>
	</li>

	<% @trails.each do |trail| %>
	<li class="cssmenu trailtitle"><a href=""><span>
		<b><%= trail.title %></b><br>
		<%= trail.city, trail.state %>
	</span></a></li>
	<% end %>
<% else %>
	<li class="cssmenu">
		<h2> <%= @user.firstname %>'s hikes </h2>
	</li>
	
	<% @user.trails.each do |trail| %>
	<li class="cssmenu trailtitle">
		<a href="">
			<span>
				<b>
					<%= trail.title %>
				</b>
				<br>
				<%= trail.city, trail.state %>
			</span>
		</a>
	</li>
	<% end %>
<% end %>