<% @users.each do |user| %>
<li class="cssmenu" id="hikers<%= user.id %>">
  <a class="other-hiker" href="/users/<%= user.id %>">
    <span>
      <b> <%= user.firstname %> <%= user.lastname %> </b>
      <br>
      <%= user.city %>, <%= user.state %>
    </span>
  </a>
</li>
<% end %>