<% @users.each do |user| %>

  <a class="item other-hiker" id="hikers<%= user.id %>" href="/users/<%= user.id %>">

    <div class="content">
      <div class="ui header">
        <%= user.firstname %> <%= user.lastname %>
      </div>
      <div class="description">
        <%= user.city %>, <%= user.state %>
      </div>
    </div>

  </a>

<% end %>