<div class="pure-u-5-24 navbar debug">

  <li class="cssmenu"><span> <a href="/users/<%= current_user.id %>"> 
    back to menu
  </a></span></li>
  <li class="cssmenu">
    <h2> Hikers </h2>
  </li>
  <% @users.each do |u| %>
  <li class="cssmenu"><a href="users/<%= u.id%>/trails">
    <b><%= u.firstname %> <%= u.lastname %></b> <br>
    <%= u.city %>, <%= u.state %>
  </a></li>
  <% end %>
</div>
  

<div class="pure-u-19-24 debug">
  <div class="map" id="all-hikers-map"></div>
</div>