<!-- .user-hike : each of the items in the list in "my hikes"
.my-hikes-header
.log-hikes-header
 -->

<div class="pure-u-5-24 navbar debug">
  <div class="main-menu">
    <div class="avatar-frame">
      <%= image_tag avatar_url(current_user)  %>
    </div>
    <div class="ui medium centered inverted header">
      Welcome, <%= current_user.firstname %>!
    </div>
    <div class="ui middle aligned very relaxed massive list"  >
      <div class="item" id="my-hikes">
        <%= image_tag( "canoe.png", width:'50', height:'50', class: "ui image") %>
        <div class="middle aligned content">
          <a class="medium inverted header" id="my-trails" href='/users/<%= current_user.id %>/trails'>
            My Hikes
          </a>
        </div>
      </div>
      <div class="item" id="log-hike">
        <%= image_tag( "main_log_hike.png", width:'50', height:'50', class: "ui image") %>
        <div class="middle aligned content">
          <a class="medium inverted header" a href='/users/<%= current_user.id %>/trails/new'>
            Add a Hike
          </a>
        </div>
      </div>

      <div class="item" id="all-hikers">
        <%= image_tag( "main_all_hikers.png", width:'50', height:'50', class: "ui image") %>
        <div class="middle aligned content">
          <a class="medium inverted header" href='/users'>
            All Hikers
          </a>
        </div>
      </div>

      <div class="item" id="logout-btn">
        <%= image_tag( "logout.png", width:'50', height:'50', class: "ui image") %>
        <div class="middle aligned content">
          <%= link_to "Logout", logout_path, method: :delete, class: "medium grey header"  %>

        </div>
      </div>
    </div>
  </div>

  <!-- MY HIKES  -->

  <div class="my-hikes-menu hideMenu">
    <div class="ui fluid relaxed grid container">
      <div class="ui left aliged row" id="my-hikes-back" >
        <a href="/users/<%= current_user.id %>">
          <%= image_tag "back.png", width: '30', height: '30', class: "back-button" %>
        </a>
      </div>
      <div class="ui centered row">
        <h1 class="ui inverted massive header my-hikes-header">
          My Hikes
        </h1>
      </div>
      <div class="ui fluid row">
        <div class="ui fluid container">
          <div class="ui divided very relaxed inverted link list">
            <%= render 'trails/index' %>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- LOG HIKE  -->

    <div class="log-hike-menu hideMenu" id="log-hike">
      <div class="ui fluid relaxed grid container">
        <div class="ui left aliged row" id="log-hike-back" >
          <a href="/users/<%= current_user.id %>">
            <%= image_tag "back.png", width: '30', height: '30', class: "back-button" %>
          </a>
        </div>
        <div class="ui centered row">
          <h1 class="ui inverted massive header log-hikes-header">
            Log Hike
          </h1>
        </div>
        <div class="ui fluid row">
          <div class="ui fluid container">
              <%= render 'trails/form' %>
          </div>
        </div>
      </div>
    </div>

    <!-- ALL HIKERS -->

    <div class="all-hikers-menu hideMenu">
      <div class="ui fluid relaxed grid container">
        <div class="ui left aliged row"  id= "all-hikers-back" >
          <a href="/users/<%= current_user.id %>">
            <%= image_tag "back.png", width: '30', height: '30', class: "back-button" %>
          </a>
        </div>
        <div class="ui centered row">
          <h1 class="ui inverted massive header all-hikes-header">
            Hikers
          </h1>
        </div>
        <div class="ui fluid row">
          <div class="ui fluid container">
            <div class="ui divided very relaxed inverted link list">
              <%= render 'users/index' %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- MAP -->
  <div class="pure-u-19-24 debug">
    <div class="map" id="user-map"></div>
  </div>
  <!-- DRAW PATH -->
  <div id='inputs'></div>
  <div id='directions'>
    <div id='routes'></div>
  </div>