<div class="pure-u-5-24 navbar debug">
  <div class="avatar-frame">
    <%= image_tag avatar_url(current_user)  %>
  </div>
  <div class="ui medium centered inverted header">
    Hi <%= current_user.firstname %>, we love you!
  </div>
  <br>
  <div class="menu">
      <div class="ui middle aligned animated very relaxed massive list">
        <div class="item">
          <%= image_tag( "canoe.png", width:'50', height:'50', class: "ui image") %>
          <div class="middle aligned content">
            <a class="medium inverted header">Your Hikes</a>
          </div>
        </div>

        <div class="item">
          <%= image_tag( "main_log_hike.png", width:'50', height:'50', class: "ui image") %>
          <div class="middle aligned content">
            <a class="medium inverted header">Log Hike</a>
          </div>
        </div>

        <div class="item">
          <%= image_tag( "main_all_hikers.png", width:'50', height:'50', class: "ui image") %>
          <div class="middle aligned content">
            <a class="medium inverted header">All Hikers</a>
          </div>
        </div>


      </div>
  </div>
    <!-- MY HIKES  -->

    <div class="my-hikes-menu hideMenu">
      <li id= "my-hikes-back" class="cssmenu back-button">
        <span>
          <a href="/users/<%= current_user.id %>">
            back to menu
          </a>
        </span>
      </li>
      <li class="cssmenu">
        <h2> My hikes </h2>
      </li>
      <div id="hike-list">
        <%= render 'trails/index' %>
      </div>
    </div>

    <!-- LOG HIKE  -->

    <div class="log-hike-menu hideMenu" id="log-hike">
      <li id= "log-hike-back" class="cssmenu back-button">
        <span>
          <a href="/users/<%= current_user.id %>">
            back to menu
          </a>
        </span>
      </li>
      <li class="cssmenu">
        <h2> Log Hike </h2>
      </li>

      <%= render 'trails/form' %>

    </div>

    <!-- ALL HIKERS -->

    <div class="all-hikers-menu hideMenu">
      <li id= "all-hikers-back" class="cssmenu back-button">
        <span>
          <a href="/users/<%= current_user.id %>">
            back to menu
          </a>
        </span>
      </li>
      <li class="cssmenu">
        <h2> Hikers </h2>
      </li>

      <%= render 'users/index' %>

    </div>

  </div>

  <!-- MAP -->
  <div class="pure-u-19-24 debug">
    <div class="map" id="user-map"></div>
  </div>
  <!-- DRAW PATH -->
  <div id='inputs'></div>
  <div id='directions'>
    <div id='routes'></div>
  </div>