<div class="pure-u-5-24 navbar debug">
  <div class="main-menu">
    <div class="avatar-frame">
      <%= image_tag avatar_url(current_user)  %>
    </div>
    <br>
    <li class="cssmenu welcome"><a><span>Welcome, <%= current_user.firstname %>!</span></a></li>
    <li class="cssmenu my-trails"><a id="my-trails" href='/users/<%= current_user.id %>/trails'><span>My Trails</span></a></li>
    <li class="cssmenu log-hike" id="log-hike"><a href='/users/<%= current_user.id %>/trails/new'><span>Log Hike</span></a></li>
    <li class="cssmenu all-hikers" id="all-hikers"><a href='/users'><span>All Hikers</span></a></li>
    <li class="cssmenu logout"><span><%= link_to "Logout", logout_path, method: :delete %></span></li>
  </div>

  <!-- MY HIKES  -->

  <div class="my-hikes-menu hideMenu">
    <li id= "my-hikes-back" class="cssmenu back-button">
      <span>
        <a href="/users/<%= current_user.id %>">
          back to menu
        </a>
      </span>
    </li>
    <li class="cssmenu">
      <h2> My Trails </h2>
    </li>
    <div id="hike-list">
    <%= render 'trails/index' %>
    </div>
  </div>

  <!-- LOG HIKE  -->

  <div class="log-hike-menu hideMenu" id="log-hike">
    <li id= "log-hike-back" class="cssmenu back-button">
      <span>
        <a href="/users/<%= current_user.id %>">
          back to menu
        </a>
      </span>
    </li>
    <li class="cssmenu">
      <h2> Log Hike </h2>
    </li>

    <%= render 'trails/form' %>

  </div>

  <!-- ALL HIKERS -->

  <div class="all-hikers-menu hideMenu">
    <li id= "all-hikers-back" class="cssmenu back-button">
      <span>
        <a href="/users/<%= current_user.id %>">
          back to menu
        </a>
      </span>
    </li>
    <li class="cssmenu">
      <h2> Hikers </h2>
    </li>

    <%= render 'users/index' %>

  </div>

</div>

<!-- MAP -->
<div class="pure-u-19-24 debug">
  <div class="map" id="user-map"></div>
</div>
<!-- DRAW PATH -->
  <div id='inputs'></div>
  <div id='directions'>
    <div id='routes'></div>
  </div>