<div class="pure-u-5-24 navbar debug">
  <div class="main-menu">
    <div class="avatar-frame">
      <%= image_tag avatar_url(current_user)  %>
    </div>
    <div class="ui medium centered inverted header">
      Welcome, <%= current_user.firstname %>!
    </div>
    <div class="ui middle aligned very relaxed massive list"  >     
      <div class="item" id="my-hikes">
        <%= image_tag( "canoe.png", width:'50', height:'50', class: "ui image") %>
        <div class="middle aligned content">
          <a class="medium inverted header" id="my-trails" href='/users/<%= current_user.id %>/trails'>
            My Hikes
          </a>
        </div>
      </div>
      <div class="item" id="log-hike">
        <%= image_tag( "main_log_hike.png", width:'50', height:'50', class: "ui image") %>
        <div class="middle aligned content">
          <a class="medium inverted header" a href='/users/<%= current_user.id %>/trails/new'>
            Add a Hike
          </a>
        </div>
      </div>

      <div class="item" id="all-hikers">
        <%= image_tag( "main_all_hikers.png", width:'50', height:'50', class: "ui image") %>
        <div class="middle aligned content">
          <a class="medium inverted header" href='/users'>
            All Hikers
          </a>
        </div>
      </div>

      <div class="item" id="logout-btn">
        <%= image_tag( "logout.png", width:'50', height:'50', class: "ui image") %>
        <div class="middle aligned content">
          <%= link_to "Logout", logout_path, method: :delete, class: "medium grey header"  %>

        </div>
      </div>
    </div>
  </div>

  <!-- MY HIKES  -->

  <div class="my-hikes-menu hideMenu main-menu-list">
    <div class="ui fluid padded grid container">
      <div class="ui left aliged row" id="my-hikes-back" >
        <a href="/users/<%= current_user.id %>">
          <%= image_tag "back.png", width: '30', height: '30', class: "back-button" %>
        </a>
      </div>
      <div class="ui row"> 
        <h2 class="ui icon header">
          <i class="settings icon"></i>
          <div class="content">
            My Hikes
          </div>
        </h2>
        <div class="ui inverted medium centered header">
        </div>
      </div>
      <div class="ui row"> 
        <div class="ui list">
          <%= render 'trails/index' %>
        </div>
      </div>
    </div>
  </div>

    <!-- LOG HIKE  -->

    <div class="log-hike-menu hideMenu" id="log-hike">
      <li id= "log-hike-back" class="cssmenu back-button">
        <span>
          <a href="/users/<%= current_user.id %>">
            back to menu
          </a>
        </span>
      </li>
      <li class="cssmenu">
        <h2> Log Hike </h2>
      </li>

      <%= render 'trails/form' %>

    </div>

    <!-- ALL HIKERS -->

    <div class="all-hikers-menu hideMenu">
      <li id= "all-hikers-back" class="cssmenu back-button">
        <span>
          <a href="/users/<%= current_user.id %>">
            back to menu
          </a>
        </span>
      </li>
      <li class="cssmenu">
        <h2> Hikers </h2>
      </li>

      <%= render 'users/index' %>

    </div>

  </div>

  <!-- MAP -->
  <div class="pure-u-19-24 debug">
    <div class="map" id="user-map"></div>
  </div>
  <!-- DRAW PATH -->
  <div id='inputs'></div>
  <div id='directions'>
    <div id='routes'></div>
  </div>