<div class="pure-u-5-24 navbar debug">
  <div class="main-menu">
    <li class="cssmenu"><span><a>Hi <%= current_user.firstname %>, we love you!</a></span></li>
    <li class="cssmenu" id="my-trails"><a href='/users/<%= current_user.id %>/trails'><span>My Trails</span></a></li>
    <li class="cssmenu" id="log-hike"><a href='/users/<%= current_user.id %>/trails/new'><span>Log Hike</span></a></li>
    <li class="cssmenu" id="all-hikers"><a href='/users'><span>All Hikers</span></a></li>
    <li class="cssmenu"><span><%= link_to "Logout", logout_path, method: :delete %></span></li>
  </div>

  <!-- MY HIKES  -->
  
  <div class="my-hikes-menu hideMenu">
    <li class="cssmenu back-button">
      <span>
        <a href="/users/<%= current_user.id %>">
          back to menu
        </a>
      </span>
    </li>
    <li class="cssmenu">
      <h2> My hikes </h2>
    </li>
    <div id="hike-list">
    <%= render 'trails/index' %>
    </div>
  </div>

  <!-- LOG HIKE  -->

  <div class="log-hike-menu hideMenu">
    <li class="cssmenu back-button">
      <span>
        <a href="/users/<%= current_user.id %>">
          back to menu 
        </a>
      </span>
    </li>
    <li class="cssmenu">
      <h2> Log Hike </h2>
    </li>

    <%= render 'trails/form' %>

  </div>

  <!-- ALL HIKERS -->

  <div class="all-hikers-menu hideMenu">
    <li class="cssmenu back-button">
      <span>
        <a href="/users/<%= current_user.id %>">
          back to menu
        </a>
      </span>
    </li>
    <li class="cssmenu">
      <h2> Hikers </h2>
    </li>

    <%= render 'users/index' %>

  </div>

</div>

<!-- MAP -->
<div class="pure-u-19-24 debug">
  <div class="map" id="user-map"></div>
</div>

  <div id='inputs'></div>
  <div id='directions'>
    <div id='routes'></div>
  </div>


<!-- Button to add trail -->
<button id='add-trailhead-button' class='hidden'>Add Trailhead</button>
<button id='save-trailhead-button' class='hidden'>Save Trailhead</button>
