<div class="video-wrapper">
	<%= video_tag("trail.mp4", autobuffer: true, autoplay: true, loop: true, id: "bgvid") %>
</div>
<div class="ui vertical masthead center aligned middle aligned basic segment" id=" landing-wrapper splash-content">
	<br>
	<br>
	<br>
	<br>
	<div class="ui stackable page very relaxed padded equal width grid">
		<div class="ui centered row">
			<h1 class="ui huge inverted header" id="header">
				WE'RE TRAILERS!
				<div class="sub header"><b> 
					You'd think we're vehicles but we're just folks who love trails
				</b></div>
			</h1>
		</div>

		<div class="ui two column row">
			<div style="background-color: rgba(255, 255, 255, 0.5); " id="splash-col" class="ui left aligned column">
				<div class="login-wrapper">
					<br>
					<br>
					<%= form_for :session, url: login_path, html: {class: "ui huge form"} do |f| %>
						<div class="field">
							<div class="ui left icon input">
								<i class="user icon"></i>
								<%= f.text_field :firstname, :placeholder => "First and Last Name" %>
							</div>
						</div>

						<div class="field">
							<div class="ui left icon input">
								<i class="mail outline icon"></i>
								<%= f.email_field :email, :placeholder => "Email" %>
							</div>
						</div>

						<div class="field">
							<div class="ui left icon input">
								<i class="lock icon"></i>
								<%= f.password_field :password, :placeholder => "Password" %>
							</div>
						</div> 
						
						<%= f.submit "Login", class: "ui massive primary submit button"  %>  	
						
						<label style="float: right; color:white; a:link: #FFFFF;"> <br>
							or...  <%= link_to "Log In", new_user_path, class: "sign-up" %>
						</label> 	

					<% end %>
				</div>
				<br>
				<br>
				<div class="signup-wrapper hideMenu">
					<%= form_for :session, url: login_path, html: {class: "ui huge form"} do |f| %>
					<div class="field">
						<div class="ui left icon input">
							<i class="user icon"></i>
							<%= f.text_field :firstname, :placeholder => "First and Last Name" %>
						</div>
					</div>

					<div class="field">
						<div class="ui left icon input">
							<i class="mail outline icon"></i>
							<%= f.email_field :email, :placeholder => "Email" %>
						</div>
					</div>

					<div class="field">
						<div class="ui left icon input">
							<i class="lock icon"></i>
							<%= f.password_field :password, :placeholder => "Password" %>
						</div>
					</div> 

					<%= f.submit "Login", class: "ui massive primary submit button"  %>  				
					<% end %>
					<div class="ui float right text segment">
						<p>New user? <%= link_to "Sign up now!", new_user_path, class: "sign-up" %></p>
					</div>
				</div>
			</div>
			<div class="ui column">
				<div class="ui massive inverted list">
					<div class="item">
						<i class="idea inverted big inverted big icon"></i>
						<div class="middle aligned content">
							<div class="content"> <a><b> 
								Get awesome great trail ideas 
							</b></a></div>
						</div>
					</div>
					<div class="item">
						<i class="compass inverted big icon"></i>
						<div class="middle aligned content">
							<div class="content"><a><b>
								Map your trails
							</b></a></div>
						</div>
					</div>
					<div class="item">
						<i class="send outline inverted big icon"></i>
						<div class="middle aligned content">
							<div class="content"><a><b>
								Share the 411 with your friends
							</b></a></div>
						</div>
					</div>
					<div class="item">
						<i class="moon inverted big icon"></i>
						<div class="middle aligned content">
							<div class="content"><a><b>
								Pictures of the moon galore (jk!)
							</b></a></div>
						</div>
					</div>
					<div class="item">
						<i class="camera retro inverted big icon"></i>
						<div class="middle aligned content">
							<div class="content"><a><b>
								Explore pictures of destinations 
							</b></a> </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br>

<br>
</div>