<div class="video-wrapper">
	<%= video_tag("logger2.mp4", autobuffer: true, autoplay: true, loop: true, id: "bgvid") %>
</div>

<div class="ui vertical masthead center aligned middle aligned basic segment landing-wrapper" id="splash-content">

	<div class="ui stackable page very relaxed grid">

		<div class="ui centered row">
			<h1 class="ui huge inverted header" id="header">
				WE'RE TRAILERS!
				<div class="sub header"><b> 
					You'd think we're vehicles but we're just folks who love trails
				</b></div>
			</h1>
		</div>

		<div class="ui two column row">
			<div class="ui eight wide left aligned column" style="background-color: rgba(255, 255, 255, 0.5); " id="splash-col">
				<div class="login-wrapper">
				<br>
				<br>
					<%= form_for :session, url: login_path, html: {class: "ui huge form"} do |f| %>

					<div class="field">
						<div class="ui left icon input">
							<i class="mail outline icon"></i>
							<%= f.email_field :email, :placeholder => "Email" %>
						</div>
					</div>

					<div class="field">
						<div class="ui left icon input">
							<i class="lock icon"></i>
							<%= f.password_field :password, :placeholder => "Password" %>
						</div>
					</div> 

					<%= f.submit "Login", class: "ui massive primary submit button"  %>  	
					<label style="float: right; "> <br>
						or...  <%= link_to "Sign Up", new_user_path, class: "sign-up" %>
					</label> 			
					<% end %>

				</div>
				<br>
				<br>
				<div class="signup-wrapper hideMenu">

					<%= form_for :user, url: users_path, html: {class: "ui huge form"} do |f| %>

					<div class="field">
						<div class="ui left icon input">
							<i class="user icon"></i>
							<%= f.text_field :firstname, :placeholder => "First and Last Name" %>
						</div>
					</div>

					<div class="field">
						<div class="ui left icon input">
							<i class="mail outline icon"></i>
							<%= f.email_field :email, :placeholder => "Email" %>
						</div>
					</div>

					<div class="field">
						<div class="ui left icon input">
							<i class="home icon"></i>
							<%= f.text_field :city, :placeholder => "City" %>
						</div>
					</div>

					<div class="field">
						<div class="ui left icon input">
							<i class="lock icon"></i>
							<%= f.password_field :password, :placeholder => "Password" %>
						</div>
					</div> 

					<%= f.submit "Join", class: "ui massive primary submit button"  %>  

					<% end %>
					<br>
					<br>
				</div>
			</div>
			<div class="ui eight wide column">
				<div class="ui massive inverted list">
					<div class="item">
						<i class="idea inverted big inverted big icon"></i>
						<div class="middle aligned content">
							<div class="content"> <a><b> 
								Get awesome great trail ideas 
							</b></a></div>
						</div>
					</div>
					<div class="item">
						<i class="compass inverted big icon"></i>
						<div class="middle aligned content">
							<div class="content"><a><b>
								Map your trails
							</b></a></div>
						</div>
					</div>
					<div class="item">
						<i class="send outline inverted big icon"></i>
						<div class="middle aligned content">
							<div class="content"><a><b>
								Share the 411 with your friends
							</b></a></div>
						</div>
					</div>
					<div class="item">
						<i class="moon inverted big icon"></i>
						<div class="middle aligned content">
							<div class="content"><a><b>
								Pictures of the moon galore (jk!)
							</b></a></div>
						</div>
					</div>
					<div class="item">
						<i class="camera retro inverted big icon"></i>
						<div class="middle aligned content">
							<div class="content"><a><b>
								Explore pictures of destinations 
							</b></a> </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br>

<br>
</div>