<div class="video-wrapper">
  <%= video_tag("nature.mp4", autobuffer: true, autoplay: true, loop: true, id: "bgvid") %>
</div>

<div class="login-wrapper">
<h1>Login</h1>
<%= form_for :session, url: login_path do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email, class: 'tbd' %>

  <%= f.label :password %>
  <%= f.password_field :password, class: 'tbd' %>

  <%= f.submit "Login", class: 'tbd' %>
<% end %>

<p>New user? <%= link_to "Sign up now!", new_user_path %></p>
</div> 